@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~@fortawesome/fontawesome-free/css/all.css';

#buscar-cep {
    background-color: #e2e8f0;
    border: 1px solid #cbd5e0;
    border-left: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 0 0.25rem 0.25rem 0;
}

#buscar-cep:hover {
    background-color: #cbd5e0;
}

[x-cloak] {
    display: none;
}

